@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.grid__row:after {
  content: "";
  display: table;
  clear: both; }

[class^="btn--"], .headline--primary, .nav__item a {
  text-align: center; }

.form__label--hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

[class^="btn--"] {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 0.94444em;
  border: 0;
  color: #fff;
  width: 100%;
  border-radius: 5px; }

.img--logo, .img--avatar, .img--frame, .form__input {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.headline--primary {
  width: 80%;
  color: #50E3C2;
  font-weight: 900;
  font-size: 1.77778em;
  line-height: 1.2;
  margin-top: 0; }
  @media (min-width: 769px) {
    .headline--primary {
      text-align: left;
      padding-left: 20px; } }

.headline--secondary {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 15px; }

@media (min-width: 769px) {
  .nav__item {
    display: inline-block;
    margin: 0; } }

.nav__item a {
  font-weight: 400;
  font-size: 1.11111em;
  display: block;
  height: 54px;
  padding: 0.55556em 1.22222em;
  border-radius: 5px; }
  @media (min-width: 1px) and (max-width: 768px) {
    .nav__item a {
      padding-top: 0.6em;
      padding-bottom: 0.6em;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 1100px) {
    .nav__item a {
      display: inline-block; } }

.nav__item a:hover {
  font-weight: 400;
  background-color: #50E3C2;
  color: #fff; }

.grid__row, .grid__row--12, .nav {
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .grid__row, .grid__row--12, .nav {
      flex-direction: row; } }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  /* 1 */
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/*  ========================================================================== 
			End of normalize.scss  
========================================================================== */
* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  padding-left: 0; }

p {
  font-size: 18px;
  font-weight: 400; }

@media (min-width: 769px) {
  .centered, .grid__row, .container {
    margin-left: auto;
    margin-right: auto; } }

.grid__row {
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 100%; }
  .grid__row--12 {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between; }
  @media (min-width: 1100px) {
    .grid__row {
      max-width: 1200px; } }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  border-radius: 5px;
  padding: 0.44444em 0.55556em;
  margin-top: 0.27778em;
  margin-bottom: 0.27778em; }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      min-height: 1px; }
      [class^="grid__col--"] + [class^="grid__col--"] {
        margin-left: 2%; } }

.theme__colors.grid__col--1 {
  background-color: #E4757A;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--1 {
      text-align: center; } }
.theme__colors.grid__col--2 {
  background-color: #927BC1;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--2 {
      text-align: center; } }
.theme__colors.grid__col--3 {
  background-color: #DEB2EE;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--3 {
      text-align: center; } }
.theme__colors.grid__col--4 {
  background-color: #7EE6FD;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--4 {
      text-align: center; } }
.theme__colors.grid__col--5 {
  background-color: #88d9a0;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--5 {
      text-align: center; } }
.theme__colors.grid__col--6 {
  background-color: #3FABCA;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--6 {
      text-align: center; } }
.theme__colors.grid__col--7 {
  background-color: #EC9FA3;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--7 {
      text-align: center; } }
.theme__colors.grid__col--8 {
  background-color: #fd9f85;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--8 {
      text-align: center; } }
.theme__colors.grid__col--9 {
  background-color: #63CC82;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--9 {
      text-align: center; } }
.theme__colors.grid__col--10 {
  background-color: #51DDFC;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--10 {
      text-align: center; } }
.theme__colors.grid__col--11 {
  background-color: #50E3C2;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--11 {
      text-align: center; } }
.theme__colors.grid__col--12 {
  background-color: #80E8D1;
  color: #676767;
  text-align: left; }
  @media (min-width: 769px) {
    .theme__colors.grid__col--12 {
      text-align: center; } }

.img--logo {
  margin-bottom: 20px; }
.img--avatar {
  border-radius: 50%; }
.img--frame {
  margin-bottom: 20px;
  max-width: 100%;
  padding: 10px;
  border: 1px silver solid; }

.theme__colors.btn--default {
  background-color: #51DDFC; }
.theme__colors.btn--success {
  background-color: #63CC82; }
.theme__colors.btn--error {
  background-color: #E4757A; }
.theme__colors.btn--warning {
  background-color: #FD7856; }
.theme__colors.btn--info {
  background-color: #927BC1; }

[class^="btn--"] {
  margin-bottom: 1.42857em;
  text-transform: uppercase;
  transition: box-shadow 0.8s; }
  [class^="btn--"]:hover {
    box-shadow: 0 0 28px 0 rgba(16, 16, 16, 0.5) inset; }
  @media (min-width: 769px) {
    [class^="btn--"] {
      margin-left: 20px;
      margin-right: 20px;
      width: 175px; } }

.container {
  color: #676767;
  font-size: 18px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 27px;
  padding: 20px 20px; }
  @media (min-width: 1100px) {
    .container {
      max-width: 1200px; } }

.link {
  font-weight: 700;
  color: #51DDFC;
  text-decoration: none; }

.blockquote {
  margin-left: 30px;
  margin-right: 35px;
  margin-top: 30px;
  padding-left: 30px;
  font-weight: 400;
  font-style: italic;
  font-size: 1.38889em;
  line-height: 1.4em;
  border-left: 10px solid #50E3C2;
  border-radius: 10px; }
  @media (min-width: 769px) {
    .blockquote {
      max-width: 700px; } }

.card {
  max-width: 1050px; }

.nav {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center; }
  @media (min-width: 769px) {
    .nav {
      margin-top: 18px;
      margin-bottom: 18px; } }
  .nav__item a {
    width: 100%;
    text-decoration: none;
    color: #868686;
    transition: all 0.4s; }

.form {
  margin-top: 25px; }
  .form__label {
    display: block;
    margin-bottom: 0.55556em; }
  .form__input {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.88889em;
    font-weight: 700;
    width: 90%;
    height: 55px;
    margin-top: 1.55556em;
    border: 0;
    border-bottom: 8px solid #50E3C2;
    border-radius: 5px;
    background: #fff;
    transition: border 0.4s;
    padding-left: 20px; }
    .form__input:focus {
      border: 8px solid #50E3C2;
      border-color: #51DDFC; }
  .form button {
    margin: 1.55556em 0;
    width: 100%; }

/*# sourceMappingURL=application.css.map */
