@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.grid__row:after {
  content: "";
  display: table;
  clear: both; }

.theme__colors.grid__col--1, .theme__colors.grid__col--2, .theme__colors.grid__col--3, .theme__colors.grid__col--4, .theme__colors.grid__col--5, .theme__colors.grid__col--6, .theme__colors.grid__col--7, .theme__colors.grid__col--8, .theme__colors.grid__col--9, .theme__colors.grid__col--10, .theme__colors.grid__col--11, .theme__colors.grid__col--12, [class^="btn--"], .headline--primary {
  text-align: center; }

.theme__colors.grid__col--1, .theme__colors.grid__col--2, .theme__colors.grid__col--3, .theme__colors.grid__col--4, .theme__colors.grid__col--5, .theme__colors.grid__col--6, .theme__colors.grid__col--7, .theme__colors.grid__col--8, .theme__colors.grid__col--9, .theme__colors.grid__col--10, .theme__colors.grid__col--11, .theme__colors.grid__col--12, [class^="btn--"] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 0;
  color: #fff; }

.headline--primary {
  color: #50E3C2;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.2;
  margin-top: 0; }
  @media (min-width: 769px) {
    .headline--primary {
      text-align: left; } }

.headline--secondary {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 15px; }

@media (min-width: 769px) {
  .nav__item {
    display: inline-block;
    margin: 0; } }

.nav__item a {
  font-weight: 300;
  text-align: center;
  font-size: 1em;
  display: block;
  height: 54px;
  padding: 0.5em 0.6em;
  border-radius: 5px; }
  @media (min-width: 1px) and (max-width: 768px) {
    .nav__item a {
      padding-top: 0.6em;
      padding-bottom: 0.6em;
      width: 200px;
      margin-left: auto;
      margin-right: auto; } }

.nav__item a:hover {
  font-weight: 400;
  background-color: #50E3C2;
  color: #fff;
  padding: 0.5em 0.5875em; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  padding-left: 0; }

.grid__row {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 769px) {
    .grid__row {
      flex-direction: row;
      justify-content: space-between; } }
  [class*="grid__col--"] > .grid__row {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid__row {
      max-width: 1200px; } }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  min-height: 55px; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="grid__col--"] {
      margin-top: 0.6em;
      margin-bottom: 0.6em; } }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px; }
      [class^="grid__col--"] + [class^="grid__col--"] {
        margin-left: 2%; } }

.theme__colors.grid__col--1 {
  background-color: #ff8f93; }
.theme__colors.grid__col--2 {
  background-color: #BD9CFF; }
.theme__colors.grid__col--3 {
  background-color: #CE86E9; }
.theme__colors.grid__col--4 {
  background-color: #E0B47C; }
.theme__colors.grid__col--5 {
  background-color: #9DE997; }
.theme__colors.grid__col--6 {
  background-color: #838EDC; }
.theme__colors.grid__col--7 {
  background-color: #D9856D; }
.theme__colors.grid__col--8 {
  background-color: #78C0AB; }
.theme__colors.grid__col--9 {
  background-color: #78C58F; }
.theme__colors.grid__col--10 {
  background-color: #47DEFF; }
.theme__colors.grid__col--11 {
  background-color: #50E3C2; }
.theme__colors.grid__col--12 {
  background-color: #7FD079; }

.centered, .grid__row, .container {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.container {
  color: #676767;
  font-size: 20px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
  padding: 35px; }
  .container p {
    font-size: 20px;
    font-weight: 300; }
    @media (min-width: 769px) {
      .container p {
        font-size: 1.3em; } }
  @media (min-width: 1100px) {
    .container {
      max-width: 1300px; } }

.img--logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.btn--default {
  background-color: #47DEFF; }
.btn--success {
  background-color: #78C58F; }
.btn--error {
  background-color: #ff8f93; }
.btn--warning {
  background-color: #FF9C7E; }
.btn--info {
  background-color: #BD9CFF; }

[class^="btn--"] {
  margin-bottom: 1.42857em;
  border-radius: 5px;
  text-transform: capitalize; }
  @media (min-width: 769px) {
    [class^="btn--"] {
      margin-left: 20px;
      margin-right: 20px;
      width: 155px; } }

.headline--primary + p {
  font-size: 20px;
  font-weight: 500; }

.link {
  color: #47DEFF;
  text-decoration: none; }

.nav {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .nav {
      flex-direction: row;
      justify-content: space-between; } }
  .nav__item a {
    text-decoration: none;
    color: #676767; }

/*# sourceMappingURL=application.css.map */
