//////////////////////////////////////////////////
//		Butttons 		  						//
//////////////////////////////////////////////////

.btn {
  @include ui-colors($ui-colors);
}

[class^="btn--"] {
 	@extend %button;
 	margin-bottom: em(20px, 14px);
	border-radius: $border--rounded-corners;
	text-transform: capitalize;
	@include mq(medium) {
		margin-left: 20px;
		margin-right: 20px;
		width: 155px;
	}
}
