// ==========================================================================
// 		Grid system
// ==========================================================================

// Center elements

.centered {
	@include mq(medium) {
		margin-left: auto;
		margin-right: auto;
	}
}


// Create grid rows
.grid {
	&__row {		// .grid__row
		@include pad-top-bottom(15px);
		@include container-flex-between;
		@extend %clearfix;
		@extend .centered;
		width: 100%;

		&--12 {		// .grid__row--12
			@include pad-left-right(15px);
		}
		// Set max-width for grid container
		@include mq(large) {
			max-width: $g-cont-max-w;
		}
	}
}



// create grid columns
.grid__col {
	@include mq(medium) {
		@include g-columns;
	}
}

// Column styles
	// Select any class beginning with grid__col--
[class^="grid__col--"] {
	@include mq(small)  { 
		@include margin-top-bottom(em(12px));
	}
	
	@include mq(medium) { 
		@include doubly(percentage($g-gutter-width / $context));
		@include pad-left-right(10px);
		min-height: 1px;
		border-radius: $border--rounded-corners;

	}
}

// style columns when theme colors applied
.theme__colors.grid {
	@include grid-colors($grid-colors);
}

// style cards
.card {
	max-width: 800px;	
}

