//////////////////////////////////////////////////
//			Image styles   						//
//////////////////////////////////////////////////


.img {
	@include m(logo) {		// .img--logo
		@extend %img--center;
		margin-bottom: 20px;
	}
	
	@include m(avatar) {	// .img-avatar
		@extend %img--center;
		border-radius: $border--round;
	}	
	
	@include m(frame) {		// .img-frame
		@extend %img--center;
		margin-bottom: 20px;
		max-width: 100%;
		padding: 10px;
		border: 1px palette(grey, x-light) solid;
	}
	
}

