//////////////////////////////////////////////////
//			Navigation 							//
//////////////////////////////////////////////////

.nav {
	margin-top: 10px;
	margin-bottom: 10px;
	@include container-flex-end; // move nav buttons to right on medium screens and above 

  	@include e(item) {  // nav__item 
    	@extend %nav-item-horz;

		a {			// .nav a
			text-decoration: none;  // get rid of underlines
			@extend %nav-item-link;
			color: palette(grey, light);
			transition: all $trns--duration-fast;
			&:hover {
				@extend %nav-item-on;
			}
			@include mq(medium) {
				margin-left: 35px; // put some space between nav buttons in medium and above
			}
    	}
  	}
}