//////////////////////////////////////////////////
//			Base styles   						//
//////////////////////////////////////////////////

// Set box sizing to include border and margin when calculating dimensions
* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding-left: 0;
}



